{% extends "base.html" %}
{% block content %}

<div class="container py-5 mt-5">

  <h1 class="text-center mb-5">Projects</h1>

  <!-- SATU ROW UNTUK SEMUA PROJECT -->
  <div class="row g-4">

    <!-- Project 1 -->
    <div class="col-md-6">
      <div class="project-card">

        <img src="{{ url_for('static', filename='images/Privat Tahsin Online.jpg') }}" class="project-img">

        <div class="p-3 text-center">
          <h5>Privat Tahsin Online</h5>
          <p>Semua Kalangan</p>

          <div class="project-actions">

            <a href="https://drive.google.com/file/d/1N-abPCIWukDC42RhIt-hMdfdILJi5at2/preview" target="_blank" class="btn-future btn-preview">
              Lihat Modul
            </a>

            <a href="https://wa.me/6289655551347" target="_blank" class="btn-future btn-wa">
              Gabung Sekarang
            </a>

          </div>

        </div>

      </div>
    </div>

    <!-- Project 2 -->
    <div class="col-md-6">
      <div class="project-card">

        <img src="{{ url_for('static', filename='images/project1.jpg') }}" class="project-img">

        <div class="p-3 text-center">
          <h5>Jasa Design</h5>
          <p>Social Media Design, Poster, Banner & Branding</p>

          <div class="project-actions">

            <a href="https://drive.google.com/file/d/1tcUSrEf2trRHhUzpWG2ak2DJmt6ehtrn/preview" target="_blank" class="btn-future btn-preview">
              Lihat Draf
            </a>

            <a href="https://lynk.id/USERNAME_KAMU" target="_blank" class="btn-future btn-lynk">
              🔗 Beli / Akses Produk
            </a>

            <a href="https://wa.me/6289655551347" target="_blank" class="btn-future btn-wa">
              Konsultasi Design
            </a>
          </div>

        </div>

      </div>
    </div>

    <!-- Project 3 -->
    <div class="col-md-6">
      <div class="project-card">

        <img src="{{ url_for('static', filename='images/project1.jpg') }}" class="project-img">

        <div class="p-3 text-center">
          <h5>Jasa Design</h5>
          <p>Social Media Design, Poster, Banner & Branding</p>

          <div class="project-actions">

            <a href="https://drive.google.com/file/d/1N-abPCIWukDC42RhIt-hMdfdILJi5at2/preview" target="_blank" class="btn-future btn-preview">
              Lihat Draf
            </a>

            <a href="#" class="btn-future btn-download">Download</a>
            <a href="#" class="btn-future btn-lynk">Templated</a>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}