{% extends "base.html" %}
{% block content %}

<div class="container py-5 mt-5">
  <h1>Projects</h1>

  <!-- Project 1. -->
  <div class="row g-4 mt-3">
    <div class="col-md-6">
  <div class="project-card">

    <img src="{{ url_for('static', filename='images/project1.jpg') }}" class="project-img">

    <div class="p-3 text-center">
      <h5>Privat Tahsin Online</h5>
      <p>Paket Bulanan: Rp. 350.000/8 Sesi </p>
      <p>*Gratis e-book materi pembelajaran</p>


      <div class="d-flex justify-content-center gap-2 mt-3">
      <div class="project-actions">

        <a href="https://drive.google.com/file/d/FILE_ID/preview" target="_blank" class="btn-future btn-preview">
          Preview
        </a>

        <a href="https://drive.google.com/uc?export=download&id=FILE_ID" class="btn-future btn-download">
          Download
        </a>

        <a href="https://lynk.id/username" target="_blank" class="btn-future btn-lynk">
          Lynk.id
        </a>

      </div>

      </div>

    </div>

  </div>
</div>
  </div>
</div>

{% endblock %}